
<div class="sidebarBody">

    <div class="boxu">
        <button class="addbtn">
            <div>
                <app-add style="width: 5%;float: left;margin-top: 10px;margin-bottom: 10px;"></app-add>
            </div>
        </button>

    </div>

    <a routerLink="/" style="text-decoration: none;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="box">
            My Kloud
        </div>
    </a>
    

    <a routerLink="/myComputers" style="text-decoration: none;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="box" >
             My Computers
        </div>
    </a>

    <a routerLink="/sharedWithMe" style="text-decoration: none;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="box">
            Shared with me
        </div>
    </a>

    <a routerLink="/Starred" style="text-decoration: none;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="box">
            Starred
        </div>
    </a>    
    
   
   
   

</div>